body {
    margin: 0;
    color: black;
    font-family: system-ui, Arial, Helvetica, sans-serif;
}

.item {
    padding: 10px;
    /* padding-top: 15px; */
    /* padding-bottom: 30px; */
}

.question {
    font-weight: bold;
    /* color: #058cffeb; */
    color: #ff0505;
    font-size: 23px;
}

p.right {
    color: #00b300;
    font-weight: bold;
}

img.img {
    align-items: center;
    width: 100%;
}

span.tip {
    color: #00ac43;
}

.hide {
    display: none;
}

.prs {
    color: black !important;
    font-weight: unset !important;
}

/* Bottom Navibar */
.navbar {
    overflow: hidden;
    /* background-color: #333; */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #00c1af;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.navbar a:hover {
    background: #00bba7;
    color: white;
}

.navbar a.active {
    /* background-color: #04AA6D; */
    color: white;
}


.home {
    width : 44%;
}

a#pre-qs {
    width: 20%;
}

a#next-qs {
    width: 20%;
}

input[type="number"] {
    width: 30px;
}


img.goto {
    float: left;
    margin-right: 9px;
}
.box {
    border: 0.1em solid;
    overflow: hidden
}

form {
    /* background: #ada3cd; */
    margin: 5px;
    right: 1px;
    position: fixed;
}

.answer {
    font-size: 17px;
}

.choose-wrong{
    color: red !important;
}

.ans-radio:before {
    appearance:radio;
    -moz-appearance:radio;
    -webkit-appearance:radio;
    content: "";
}

hr {
    border-top: 1px dashed red;
  }
